<div class="x-ray-block">
  <div class="example">
    <%= example %>
  </div>

  <div class="code-scan">
    <div hidden>
      <% block_code = <<-HTML.strip_heredoc
          #{block.call}
        HTML
      %>
    </div>
    <pre>
      <% params_string = params.map{ |param| param.is_a?(String) ? "'#{param}'" : param }.join(', ') %>
<%= "\<%= #{method.to_s} #{params_string} do %\>#{block_code.split("\n").join("\n  ")}\n\<% end %\>" %>
    </pre>
  </div>
</div>
