<div class="x-ray-block">
  <div class="example">
    <%= yield %>
  </div>

  <div class="code-scan">
    <pre>
    <% cache(yield) do %>
<%= x_ray_scan { yield } %>
    <% end %>
    </pre>
  </div>
</div>
