<div class="x-ray-block">
  <div class="example">
    <%= yield %>
  </div>

  <div class="code-scan">
    <% text = <<-HTML.strip_heredoc
        #{yield}
      HTML
    %>

    <pre>
      <%= text.gsub(/\s*$/, '') %>
    </pre>
  </div>
</div>
